In [139]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix

In [141]:
from ucimlrepo import fetch_ucirepo 

# fetch dataset 
adult = fetch_ucirepo(id=2) 
  
# data (as pandas dataframes) 
X = adult.data.features 
y = adult.data.targets 
  
# metadata 
print(adult.metadata) 
  
# variable information 
print(adult.variables)

{'uci_id': 2, 'name': 'Adult', 'repository_url': 'https://archive.ics.uci.edu/dataset/2/adult', 'data_url': 'https://archive.ics.uci.edu/static/public/2/data.csv', 'abstract': 'Predict whether annual income of an individual exceeds $50K/yr based on census data. Also known as "Census Income" dataset. ', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 48842, 'num_features': 14, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Age', 'Income', 'Education Level', 'Other', 'Race', 'Sex'], 'target_col': ['income'], 'index_col': None, 'has_missing_values': 'yes', 'missing_values_symbol': 'NaN', 'year_of_dataset_creation': 1996, 'last_updated': 'Tue Sep 24 2024', 'dataset_doi': '10.24432/C5XW20', 'creators': ['Barry Becker', 'Ronny Kohavi'], 'intro_paper': None, 'additional_info': {'summary': "Extraction was done by Barry Becker from the 1994 Census database.  A set of reasonably clean records was extracted using the following conditions: ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\n\nPrediction task is to determine whether a person's income is over $50,000 a year.\n", 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Listing of attributes:\r\n\r\n>50K, <=50K.\r\n\r\nage: continuous.\r\nworkclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\r\nfnlwgt: continuous.\r\neducation: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\r\neducation-num: continuous.\r\nmarital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\r\noccupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\r\nrelationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\r\nrace: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\r\nsex: Female, Male.\r\ncapital-gain: continuous.\r\ncapital-loss: continuous.\r\nhours-per-week: continuous.\r\nnative-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.', 'citation': None}}
              name     role         type      demographic  \
0              age  Feature      Integer              Age
1        workclass  Feature  Categorical           Income
2           fnlwgt  Feature      Integer             None
3        education  Feature  Categorical  Education Level
4    education-num  Feature      Integer  Education Level
5   marital-status  Feature  Categorical            Other
6       occupation  Feature  Categorical            Other
7     relationship  Feature  Categorical            Other
8             race  Feature  Categorical             Race
9              sex  Feature       Binary              Sex
10    capital-gain  Feature      Integer             None
11    capital-loss  Feature      Integer             None
12  hours-per-week  Feature      Integer             None
13  native-country  Feature  Categorical            Other
14          income   Target       Binary           Income

                                          description units missing_values
0                                                 N/A  None             no
1   Private, Self-emp-not-inc, Self-emp-inc, Feder...  None            yes
2                                                None  None             no
3    Bachelors, Some-college, 11th, HS-grad, Prof-...  None             no
4                                                None  None             no
5   Married-civ-spouse, Divorced, Never-married, S...  None             no
6   Tech-support, Craft-repair, Other-service, Sal...  None            yes
7   Wife, Own-child, Husband, Not-in-family, Other...  None             no
8   White, Asian-Pac-Islander, Amer-Indian-Eskimo,...  None             no
9                                       Female, Male.  None             no
10                                               None  None             no
11                                               None  None             no
12                                               None  None             no
13  United-States, Cambodia, England, Puerto-Rico,...  None            yes
14                                       >50K, <=50K.  None             no

In [142]:
X

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States

In [143]:
y

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
48837  <=50K.
48838  <=50K.
48839  <=50K.
48840  <=50K.
48841   >50K.

[48842 rows x 1 columns]

In [144]:
df = X.copy() 
df["income"] = y.iloc[:, 0]

In [145]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [146]:
# trim leading & trailing white spaces
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [147]:
df.info() # list the column and & data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       47879 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      47876 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48568 non-null  object
 14  income          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [148]:
df.drop(columns=["fnlwgt","education-num"], inplace=True) # final wt columns is not required here as we assume each row as an individual data point.

In [149]:
df.isnull().sum() # check for sum null values in each column

age                 0
workclass         963
education           0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

In [150]:
# calculate the missing value %

(df.isnull().sum() / len(df)) * 100

age               0.000000
workclass         1.971664
education         0.000000
marital-status    0.000000
occupation        1.977806
relationship      0.000000
race              0.000000
sex               0.000000
capital-gain      0.000000
capital-loss      0.000000
hours-per-week    0.000000
native-country    0.560993
income            0.000000
dtype: float64

In [151]:
df = df.dropna()

In [152]:
df.isnull().sum()

age               0
workclass         0
education         0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
income            0
dtype: int64

In [153]:
df.describe()

                age  capital-gain  capital-loss  hours-per-week
count  47621.000000  47621.000000  47621.000000    47621.000000
mean      38.640684   1091.137649     87.853489       40.600050
std       13.558961   7487.228336    404.010612       12.260345
min       17.000000      0.000000      0.000000        1.000000
25%       28.000000      0.000000      0.000000       40.000000
50%       37.000000      0.000000      0.000000       40.000000
75%       48.000000      0.000000      0.000000       45.000000
max       90.000000  99999.000000   4356.000000       99.000000

Trick to check skewness :

no skewness : mean = median = mode

left skewed : mean < median < mode

right skewed : mean > median > mode

In [171]:
df['age'].value_counts()

age
36    1329
35    1320
33    1317
31    1311
23    1294
      ...
88       5
85       5
87       2
86       1
89       1
Name: count, Length: 74, dtype: int64

In [173]:
# binning of age groups

bins = [17, 25, 35, 45, 55, 65, 100]
labels = ["18-25", "26-35", "36-45", "46-55", "56-65", "65+"]

df["age-group"] = pd.cut(df["age"], bins=bins, labels=labels)

In [175]:
df['age-group'].value_counts()

age-group
26-35    12518
36-45    11796
18-25     8624
46-55     8173
56-65     4287
65+       1663
Name: count, dtype: int64

In [177]:
df

,age,workclass,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income,age-group
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,36-45
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,46-55
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,36-45
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,46-55
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,26-35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48836,33,Private,Bachelors,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K.,26-35
48837,39,Private,Bachelors,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.,36-45
48839,38,Private,Bachelors,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.,36-45
48840,44,Private,Bachelors,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.,36-45
48841,35,Self-emp-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.,26-35

In [179]:
df['workclass'].value_counts()

workclass
Private             33717
Self-emp-not-inc     3838
Local-gov            3126
State-gov            1965
?                    1836
Self-emp-inc         1688
Federal-gov          1423
Without-pay            21
Never-worked            7
Name: count, dtype: int64

In [181]:
# Clean the workclass category

df["workclass"] = df["workclass"].replace({
    "Self-emp-not-inc": "Self-Employed",
    "Self-emp-inc": "Self-Employed",
    "Local-gov": "Government",
    "State-gov": "Government",
    "Federal-gov": "Government",
    "Without-pay": "Other",
    "Never-worked": "Other"
})

In [183]:
df['workclass'].value_counts()

workclass
Private          33717
Government        6514
Self-Employed     5526
?                 1836
Other               28
Name: count, dtype: int64

In [185]:
df["workclass"].value_counts(normalize=True).mul(100).round(2)

workclass
Private          70.80
Government       13.68
Self-Employed    11.60
?                 3.86
Other             0.06
Name: proportion, dtype: float64

In [187]:
df['workclass'].replace("?", 'Other', inplace=True)

In [189]:
df['workclass'].value_counts()

workclass
Private          33717
Government        6514
Self-Employed     5526
Other             1864
Name: count, dtype: int64

In [191]:
df['education'].value_counts()

education
HS-grad         15444
Some-college    10512
Bachelors        7881
Masters          2610
Assoc-voc        2034
11th             1746
Assoc-acdm       1566
10th             1336
7th-8th           912
Prof-school       819
9th               735
12th              633
Doctorate         582
5th-6th           494
1st-4th           239
Preschool          78
Name: count, dtype: int64

In [193]:
df["education"] = df["education"].replace({
    "HS-grad": "HS Grad",
    "Some-college": "Associate/College",
    "Bachelors": "Bachelors",
    "Masters": "Masters",
    "Assoc-voc": "Associate/College",
    "11th": "Not HS Grad",
    "Assoc-acdm":"Associate/College",
    "10th":"Not HS Grad",
    "7th-8th":"Not HS Grad",
    "Prof-school":"Bachelors",
    "9th":"Not HS Grad",
    "12th":"Not HS Grad",
    "Doctorate":"Doctorate",
    "5th-6th":"Not HS Grad",
    "1st-4th":"Not HS Grad",
    "Preschool":"Not HS Grad",
})

In [195]:
df['education'].value_counts()

education
HS Grad              15444
Associate/College    14112
Bachelors             8700
Not HS Grad           6173
Masters               2610
Doctorate              582
Name: count, dtype: int64

In [197]:
df['marital-status'].value_counts()

marital-status
Married-civ-spouse       21966
Never-married            15555
Divorced                  6526
Separated                 1497
Widowed                   1443
Married-spouse-absent      600
Married-AF-spouse           34
Name: count, dtype: int64

In [199]:
df["marital-status"] = df["marital-status"].replace({
    "Married-civ-spouse": "Married",
    "Married-spouse-absent": "Married",
    "Married-AF-spouse": "Married"
})

In [201]:
df['marital-status'].value_counts()

marital-status
Married          22600
Never-married    15555
Divorced          6526
Separated         1497
Widowed           1443
Name: count, dtype: int64

In [203]:
df['occupation'].value_counts()

occupation
Prof-specialty       6110
Craft-repair         6089
Exec-managerial      6058
Adm-clerical         5589
Sales                5474
Other-service        4891
Machine-op-inspct    3006
Transport-moving     2341
Handlers-cleaners    2066
?                    1843
Farming-fishing      1485
Tech-support         1436
Protective-serv       981
Priv-house-serv       238
Armed-Forces           14
Name: count, dtype: int64

In [205]:
# grouping them into white/blue collar categories
df["occupation"] = df["occupation"].replace({
    "Craft-repair": "Blue-Collar",
    "Machine-op-inspct": "Blue-Collar",
    "Handlers-cleaners": "Blue-Collar",
    "Transport-moving": "Blue-Collar",
    "Farming-fishing": "Blue-Collar",

    "Exec-managerial": "White-Collar",
    "Adm-clerical": "White-Collar",
    "Prof-specialty": "White-Collar",
    "Tech-support": "White-Collar",
    "Sales": "White-Collar",

    "Other-service": "Service",
    "Protective-serv": "Service",
     "Armed-Forces": "Other",
    "Priv-house-serv": "Other"
})

In [151]:
df['occupation'].value_counts()

occupation
White-Collar    24667
Blue-Collar     14987
Service          5872
?                1843
Other             252
Name: count, dtype: int64

In [207]:
df["occupation"].value_counts(normalize=True).mul(100).round(2)

occupation
White-Collar    51.80
Blue-Collar     31.47
Service         12.33
?                3.87
Other            0.53
Name: proportion, dtype: float64

In [213]:
df['occupation'].replace("?", 'Other', inplace=True)

In [215]:
df['occupation'].value_counts()

occupation
White-Collar    24667
Blue-Collar     14987
Service          5872
Other            2095
Name: count, dtype: int64

In [217]:
df['relationship'].value_counts()

relationship
Husband           19396
Not-in-family     12281
Own-child          7228
Unmarried          5022
Wife               2253
Other-relative     1441
Name: count, dtype: int64

In [219]:
df['race'].value_counts()

race
White                 40786
Black                  4535
Asian-Pac-Islander     1447
Amer-Indian-Eskimo      460
Other                   393
Name: count, dtype: int64

In [221]:
df['sex'].value_counts()

sex
Male      31937
Female    15684
Name: count, dtype: int64

In [223]:
df['capital-gain'].value_counts()

capital-gain
0        43657
15024      508
7688       405
7298       357
99999      240
         ...
1111         1
2387         1
1639         1
22040        1
1731         1
Name: count, Length: 122, dtype: int64

In [225]:
df['capital-loss'].value_counts()

capital-loss
0       45389
1902      302
1977      252
1887      232
2415       72
        ...
2489        1
1870        1
1911        1
1539        1
1421        1
Name: count, Length: 98, dtype: int64

In [227]:
df['hours-per-week'].value_counts()

hours-per-week
40    22324
50     4195
45     2673
60     2155
35     1889
      ...
79        1
94        1
82        1
87        1
69        1
Name: count, Length: 96, dtype: int64

In [229]:
df['native-country'].value_counts()

native-country
United-States                 42958
Mexico                          936
?                               583
Philippines                     293
Germany                         202
Puerto-Rico                     180
Canada                          177
El-Salvador                     153
India                           147
Cuba                            136
England                         123
China                           120
South                           110
Italy                           105
Jamaica                         104
Dominican-Republic              100
Japan                            92
Guatemala                        87
Vietnam                          86
Poland                           85
Columbia                         85
Haiti                            71
Portugal                         65
Taiwan                           64
Iran                             57
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          44
France                           38
Ireland                          36
Thailand                         30
Hong                             29
Cambodia                         27
Trinadad&Tobago                  27
Yugoslavia                       23
Laos                             22
Outlying-US(Guam-USVI-etc)       22
Scotland                         21
Honduras                         20
Hungary                          18
Holand-Netherlands                1
Name: count, dtype: int64

In [237]:
df["native-country"] = df["native-country"].replace("?", np.nan)

In [239]:
df = df.dropna(subset=["native-country"])

In [249]:
df = df.copy()  # ensure full copy

df.loc[:, "is_us"] = (
    df["native-country"].str.strip() == "United-States"
).astype(int)

In [253]:
df.drop(columns=["native-country"], inplace=True)

In [255]:
df['income'].value_counts()

income
<=50K    35643
>50K     11395
Name: count, dtype: int64

In [257]:
df['income'] = df['income'].str.replace(r'\.$', '', regex=True) # remove '.' from the end of the string

In [259]:
df['income'].value_counts()

income
<=50K    35643
>50K     11395
Name: count, dtype: int64

In [269]:
df

,age,workclass,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,income,age-group,is_us
0,39,Government,Bachelors,Never-married,White-Collar,Not-in-family,White,Male,2174,0,40,<=50K,36-45,1
1,50,Self-Employed,Bachelors,Married,White-Collar,Husband,White,Male,0,0,13,<=50K,46-55,1
2,38,Private,HS Grad,Divorced,Blue-Collar,Not-in-family,White,Male,0,0,40,<=50K,36-45,1
3,53,Private,Not HS Grad,Married,Blue-Collar,Husband,Black,Male,0,0,40,<=50K,46-55,1
4,28,Private,Bachelors,Married,White-Collar,Wife,Black,Female,0,0,40,<=50K,26-35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48836,33,Private,Bachelors,Never-married,White-Collar,Own-child,White,Male,0,0,40,<=50K,26-35,1
48837,39,Private,Bachelors,Divorced,White-Collar,Not-in-family,White,Female,0,0,36,<=50K,36-45,1
48839,38,Private,Bachelors,Married,White-Collar,Husband,White,Male,0,0,50,<=50K,36-45,1
48840,44,Private,Bachelors,Divorced,White-Collar,Own-child,Asian-Pac-Islander,Male,5455,0,40,<=50K,36-45,1
48841,35,Self-Employed,Bachelors,Married,White-Collar,Husband,White,Male,0,0,60,>50K,26-35,1